/*==============================================
01. GENERAL CSS
================================================*/

html,
body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -webkit-text-size-adjust: 90%;
}

body {
    font: 16px/1.6 'Raleway', Arial, Helvetica, sans-serif;
    color: #fff;
    text-align: center;
    background: #222;
}

img {
    border: 0;
    max-width: 100%;
}

html {
    -ms-overflow-style: scrollbar;
}

.alltrans,
.social-icons li a,
.owl-nav>button,
.owl-nav>button:after,
.counter-box,
.about-img:after,
.gallery-img img,
.form-control,
.owl-dot,
.subscribe-row,
.close-btn,
.close-btn:before,
.close-btn:after,
.tag-btn,
.btn {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #fff;
    outline: none;
    text-decoration: underline;
}

@media screen and (-ms-high-contrast:active),
(-ms-high-contrast:none) {
    a:active {
        background-color: transparent;
    }
}

p {
    margin: 0 0 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    margin: 0 0 20px;
    font-weight: 600;
    text-transform: uppercase;
}

h1,
h2 {
    font-size: 32px;
}

h3 {
    font-size: 30px;
    font-weight: 600;
}

h4 {
    font-size: 22px;
    font-weight: 600;
}

h5 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 600;
}

h6 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 600;
}

#main {
    padding: 0;
    background: #fff;
}

.no-margin {
    margin: 0 !important;
}

figure {
    margin: 0;
}

.opacity-no {
    opacity: 1 !important;
}

video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

#video:after {
    content: '';
    opacity: 0.75;
    background: #727272;
    /* Old browsers */
    background: -moz-linear-gradient(top, #727272 0%, #F2F2F2 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #727272 0%, #F2F2F2 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #727272 0%, #F2F2F2 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#727272', endColorstr='#F2F2F2', GradientType=0);
    /* IE6-9 */
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.wrapper-background-dark:after {
    background: #222;
    opacity: 0.95;
}

.section-inner {
    padding: 20px 30px 0;
}

.fp-scrollable {
    height: calc(100vh - 200px) !important;
}

#fp-nav ul li a span {
    display: none;
}

.btn {
    background: #fff;
    color: #222;
    text-align: center;
    line-height: 52px;
    padding: 0 35px;
    border-radius: 0px;
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 10px;
}

.btn:hover,
.btn:focus {
    color: rgb(123, 123, 123);
    border-color: rgb(124, 124, 124);
    background: none;
}

.btn:focus {
    box-shadow: none;
    outline: none;
}

.btn.btn-xs {
    line-height: 34px;
    font-size: 12px;
    padding: 0 20px;
    font-weight: 500;
}

.btn.btn-outline {
    background: none;
    border-color: #fff;
    color: #fff;
    border-width: 1px;
}

.btn.btn-outline:hover,
.btn.btn-outline:focus {
    background: #fff;
    color: #fff;
}

.btn.btn-dark {
    color: #fff;
    border-color: #fff;
}

.btn.btn-dark:hover,
.btn.btn-dark:focus {
    background: #fff;
    color: #fff;
}

.owl-carousel .owl-stage {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.owl-carousel .owl-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex: 1 0 auto;
}

.preloader {
    background: -moz-linear-gradient(top, #727272 0%, #F2F2F2 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #727272 0%, #F2F2F2 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #727272 0%, #F2F2F2 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#727272', endColorstr='#F2F2F2', GradientType=0);
    /* IE6-9 */
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
    text-align: center;
}

.preloader-bounce {
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
}

.preloader-bounce>span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0.3em;
    display: inline-block;
    vertical-align: middle;
    -webkit-animation: bounce 0.6s infinite alternate;
    animation: bounce 0.6s infinite alternate;
    background: #71706e;
}

.preloader-bounce>span:nth-child(2) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
    background: #71706e;
}

.preloader-bounce>span:nth-child(3) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    background: #71706e;
}

@-webkit-keyframes bounce {
    from {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    to {
        -webkit-transform: translateY(-1.2em);
        transform: translateY(-1.2em);
    }
}

@keyframes bounce {
    from {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    to {
        -webkit-transform: translateY(-1.2em);
        transform: translateY(-1.2em);
    }
}

#fullpage {
    z-index: 99;
}


/*==============================================
02. HEADER CSS
================================================*/

#header {
    padding: 20px 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
}

.container-fluid {
    padding: 0 20px;
}

a#logo {
    text-decoration: none;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 700;
}

.navbar {
    padding: 0;
}

.navbar-toggle {
    display: none;
}

.navbar-nav {
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.navbar-nav li {
    margin-left: 30px;
}

.navbar-nav li a {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    display: block;
    font-weight: 500;
    opacity: 0.9;
}

.navbar-nav li a:after {
    content: '';
    display: block;
    height: 2px;
    background: #fff;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transform: scale(0);
    transform: scale(0);
    margin-top: 4px;
}

.navbar-nav li a:hover:after,
.navbar-nav li.active a:after {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.navbar-nav li a:hover {
    opacity: 1;
}

.navbar-nav li.active a {
    opacity: 1;
}

.collapse:not(.show) {
    display: block;
}


/*==============================================
03. SOCIAL ICONS CSS
================================================*/

#social-icons {
    padding: 0;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 199;
}

.social-icons {
    margin: 0;
    padding: 0;
    list-style: none;
}

.social-icons li {
    display: block;
    margin: 1px 0px;
}

.social-icons li a {
    width: 50px;
    height: 50px;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    background: rgba(62, 62, 62, 0.1);
    color: #fff;
    font-size: 18px;
}

.social-icons li a:hover {
    color: #727272;
    background-color: #fff;
}


/*==============================================
04. WELCOME BLOCK CSS
================================================*/

.welcome-box {
    font-size: 20px;
    line-height: 1.7;
}

.welcome-first {
    font-size: 32px;
    display: block;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.welcome-box p {
    max-width: 620px;
    width: 100%;
    margin: 0 auto 30px;
    color: #565655;
}

.welcome-title {
    font-weight: 700;
    font-size: 120px;
    margin-bottom: 10px;
    letter-spacing: 0.02em;
}

.welcome-title span {
    font-size: 36px;
    display: block;
    font-weight: 300;
    line-height: 1.2;
}

.welcome-box .btn {
    margin-top: 10px;
}

.next-section {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.next-section span {
    margin-top: 15px;
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
}

.next-section i:hover {
    opacity: 1;
}


/*==============================================
05. ABOUT ME
================================================*/

.about-img {
    margin: 0 auto 40px;
    position: relative;
}

.about-img img {
    border-radius: 10px;
    -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, .3);
    box-shadow: 0 0 40px rgba(0, 0, 0, .3);
}

.about-contentbox {
    margin-top: 80px;
    text-align: left;
    line-height: 1.8;
}

.about-contentbox span {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 300;
}

.about-contentbox h2 {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 700;
}

.facts-list {
    margin-top: 30px;
}

.facts-list .item {
    overflow: hidden;
    text-align: center;
    border-radius: 10px;
    width: 100%;
    display: inline-block;
    text-transform: capitalize;
    font-size: 14px;
    padding: 30px 0px;
    background: rgba(0, 0, 0, 0.25);
}

.counter-box span {
    font-size: 26px;
    font-weight: 700;
}

.counter-icon {
    font-size: 30px;
    margin-bottom: 10px;
    opacity: 0.75;
}

.facts-list .item:hover {
    background: #fff;
    color: #1e1e1e;
}

.facts-list .owl-dots {
    margin-bottom: 30px;
}

.count-number,
.counted {
    display: block;
    font-size: 36px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 10px;
}


/*==============================================
06. SERVICES BLOCK CSS
================================================*/

.title-block {
    margin-bottom: 40px;
}

.title-block span {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 300;
}

.services-list .item {
    background-color: rgba(250, 250, 250, 0.25);
    border-radius: 10px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.service-icon {
    display: block;
    margin: 0 auto 0;
    font-size: 64px;
}

.service-box {
    font-size: 15px;
    padding: 40px 20px;
    height: 100%;
}

.services-list .item:hover {
    background-color: #fff;
    color: #1e1e1e;
}

.service-box h3 {
    font-size: 22px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 10px;
    padding: 10px;
}

.service-box p:last-child {
    margin: 0;
}

.owl-carousel .owl-dots .owl-dot {
    border-radius: 3px;
}

.owl-dots {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin-top: 50px
}

.owl-carousel .owl-dots .owl-dot {
    width: 12px;
    height: 12px;
    margin: 0 5px;
    background: rgba(255, 255, 255, .2)
}

.owl-carousel .owl-dots .owl-dot:focus {
    outline: none
}

.owl-carousel .owl-dots .owl-dot.active {
    background: #fff
}


/*==============================================
07. WORK BLOCK CSS
================================================*/

.gallery-section {
    text-align: center;
}

.portfolio-item img {
    max-width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 9;
    border-radius: 10px;
}

.portfolio-item .thumb-inner {
    position: absolute;
    z-index: 99;
    bottom: 0;
    text-align: left;
    padding: 20px;
    background-color: rgba(250, 250, 250, 0.25);
    width: 100%;
    height: 60px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.portfolio-item .thumb-inner h4 {
    margin-bottom: 0;
    font-size: 16px;
    margin-top: 0px;
}

.portfolio-item .thumb-inner p {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    margin-bottom: 0px;
}

.portfolio-item:hover .thumb-inner p {
    position: relative;
    opacity: 1;
    visibility: visible;
    color: #4a4a4a;
}

.portfolio-item:hover .thumb-inner {
    border-radius: 10px;
    height: 100%;
    background-color: rgba(250, 250, 250, 0.9)
}

.portfolio-item:hover .thumb-inner h4 {
    margin-top: 30%;
    color: #1e1e1e;
    margin-bottom: 20px;
}


/*==============================================
08. CONTACT BLOCK CSS
================================================*/

::-webkit-input-placeholder {
    color: #fff !important;
    opacity: 1;
}

::-moz-placeholder {
    color: #fff !important;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #fff !important;
    opacity: 1;
}

:-moz-placeholder {
    color: #fff !important;
    opacity: 1;
}

.input-field {
    margin-bottom: 15px;
}

.form-control {
    height: 50px;
    color: #fff;
    border: none;
    background: rgba(250, 250, 250, 0.05);
    border: 1px solid rgba(250, 250, 250, 0.5);
    border-radius: 10px;
    padding: 4px 22px;
    font-size: 14px;
    margin-bottom: 30px;
}

.form-control:focus {
    box-shadow: none;
    outline: none;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(250, 250, 250, 1);
    color: #fff;
}

.index .form-control.form-control-dark {
    background: rgba(250, 250, 250, 0.75);
    color: #fff;
}

.index .form-control.form-control-dark:focus {
    background: rgba(54, 40, 158, 0.85);
    color: #fff;
}

.index .form-control.form-control-dark::-webkit-input-placeholder {
    color: #fff !important;
}

.index .form-control.form-control-dark::-moz-placeholder {
    color: #fff !important;
}

.index .form-control.form-control-dark:-ms-input-placeholder {
    color: #fff !important;
}

.index .form-control.form-control-dark:-moz-placeholder {
    color: #fff !important;
}

.form-control.form-control-dark:focus {
    background: rgba(0, 0, 0, 0.2);
}

.form-control.form-control-dark {
    background: rgba(0, 0, 0, 0.1);
    color: #222;
    border: none;
}

.form-control.form-control-dark::-webkit-input-placeholder {
    color: #222 !important;
    opacity: 0.7;
}

.form-control.form-control-dark::-moz-placeholder {
    color: #222 !important;
    opacity: 0.7;
}

.form-control.form-control-dark:-ms-input-placeholder {
    color: #222 !important;
    opacity: 0.7;
}

.form-control.form-control-dark:-moz-placeholder {
    color: #222 !important;
    opacity: 0.7;
}

textarea.form-control {
    height: 123px;
    padding-top: 15px;
}

.contact-section .btn {
    width: 100%;
}

.contact-box {
    text-align: left;
}

.contact-box h4 {
    font-size: 24px;
}

.contact-box h4:after {
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    background: #fff;
    margin: 12px 0;
}

.contact-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px;
    background: rgba(250, 250, 250, 0.25);
    border-radius: 10px;
    padding: 30px;
    font-weight: 700;
}

.contact-row i {
    width: 55px;
    font-size: 30px;
    display: block;
}

.contact-row i.fa-envelope {
    font-size: 25px;
}


/*==============================================
09. TESTIMONOALS BLOCK CSS
================================================*/

.testimonials-section .item {
    background-color: rgba(250, 250, 250, 0.25);
    padding: 40px;
    border-radius: 10px;
}

.testimonials-section .item img {
    width: 140px;
    height: 140px;
    margin: 0 auto;
}

.testimonials-section .item h4 {
    margin-top: 40px;
    font-size: 22px;
    text-transform: capitalize;
    font-weight: 700;
}

.testimonials-section .item p {
    font-size: 17px;
    font-style: italic;
}


/*==============================================
10. SKILLS BLOCK CSS
================================================*/

.skills-row {
    margin-top: 80px;
}

.skill-item {
    border-bottom: 1px solid rgba(250, 250, 250, 0.1);
    margin-bottom: 50px;
    padding-bottom: 50px;
}

.last-skill {
    border-bottom: none;
}

.skills-row h6 {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(81, 81, 81);
    text-align: right;
    margin-bottom: -10px;
}

.skill-bar {
    width: 70%;
    height: 6px;
    border-radius: 3px;
    background-color: rgba(250, 250, 250, 0.25);
    position: relative;
}

.body-all,
* {
    margin: 0%;
    padding: 0%;
}

.body-all .skill-out.skill {
    margin: 0 auto;
}

.skill-out {
    height: 200px;
    width: 200px;
    display: inline-block;
    margin: auto;
}

.skill {
    width: 160px;
    height: 160px;
    position: relative;
}

.outer {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 1px 1px 1px 1px rgb(227, 227, 227);
}

.inner1 {
    margin: 0 auto;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(255, 255, 255, 0.2);
}

.inner2 {
    margin: 0 auto;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(255, 255, 255, 0.2);
}

.inner3 {
    margin: 0 auto;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(255, 255, 255, 0.2);
}

.inner4 {
    margin: 0 auto;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(255, 255, 255, 0.2);
}

.inner5 {
    margin: 0 auto;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(255, 255, 255, 0.2);
}

#number {
    font-weight: 500;
    color: rgb(255, 255, 255);
}

circle#html-circle {
    fill: none;
    stroke: #ffffff;
    stroke-width: 20px;
    stroke-dasharray: 540;
    stroke-dashoffset: 540;
    animation: anim 3s linear forwards;
}

circle#html-circle1 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 20px;
    stroke-dasharray: 520;
    stroke-dashoffset: 520;
    animation: anim 3s linear forwards;
}

circle#html-circle2 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 20px;
    stroke-dasharray: 540;
    stroke-dashoffset: 540;
    animation: anim 3s linear forwards;
}

circle#html-circle3 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 20px;
    stroke-dasharray: 520;
    stroke-dashoffset: 520;
    animation: anim 3s linear forwards;
}

circle#html-circle4 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 20px;
    stroke-dasharray: 520;
    stroke-dashoffset: 520;
    animation: anim 3s linear forwards;
}

circle#html-circle5 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 20px;
    stroke-dasharray: 540;
    stroke-dashoffset: 540;
    animation: anim 3s linear forwards;
}

.html-circle-skill {
    position: absolute;
    top: 0%;
    left: 0%;
}

@keyframes anim {
    100% {
        stroke-dashoffset: 170;
    }
}

.thumbnail {
    margin-bottom: 6px;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none;
    margin-top: 10%;
    width: 5%;
}

.gallery {
    display: grid;
    list-style-type: none;
    padding: 0;
    margin: 0;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 300px;
    grid-auto-flow: dense;
}

.wide {
    grid-column: span 2;
}

.tall {
    grid-row: span 2;
}

li img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}


/* Hover effect specific styles. */

.gallery li {
    overflow: hidden;
}

.gallery img {
    transform: scale(1);
    transition: transform .3s ease-in-out;
}

.gallery img:hover {
    transform: scale(1.2);
}

.buttonModal:before,
.buttonModal:after {
    content: '';
    display: block;
    position: absolute;
    border-color: #454545;
    box-sizing: border-box;
    border-style: solid;
    width: 1em;
    height: 1em;
    transition: all 0.3s ease-in-out
}

.buttonModal:before {
    top: -6px;
    left: -6px;
    border-width: 2px 0 0 2px;
    z-index: 5;
}

.buttonModal:after {
    bottom: -6px;
    right: -6px;
    border-width: 0 2px 2px 0;
}

.buttonModal:hover:before,
.buttonModal:hover:after {
    width: calc(100% + 12px);
    height: calc(100% + 12px);
    border-color: #fff
}

.buttonModal:hover {
    color: #353535;
    background-color: #fff;
    border-color: #fff
}


/* 2 */

.buttonModal1:before,
.buttonModal1:after {
    content: '';
    display: block;
    position: absolute;
    border-color: #454545;
    box-sizing: border-box;
    border-style: solid;
    width: 1em;
    height: 1em;
    transition: all 0.3s ease-in-out
}

.buttonModal1:before {
    top: -6px;
    left: -6px;
    border-width: 2px 0 0 2px;
    z-index: 5;
}

.buttonModal1:after {
    bottom: -6px;
    right: -6px;
    border-width: 0 2px 2px 0;
}

.buttonModal1:hover:before,
.buttonModal1:hover:after {
    width: calc(100% + 12px);
    height: calc(100% + 12px);
    border-color: #fff
}

.buttonModal1:hover {
    color: #353535;
    background-color: #fff;
    border-color: #fff
}


/* 3 */

.buttonModal2:before,
.buttonModal2:after {
    content: '';
    display: block;
    position: absolute;
    border-color: #454545;
    box-sizing: border-box;
    border-style: solid;
    width: 1em;
    height: 1em;
    transition: all 0.3s ease-in-out
}

.buttonModal2:before {
    top: -6px;
    left: -6px;
    border-width: 2px 0 0 2px;
    z-index: 5;
}

.buttonModal2:after {
    bottom: -6px;
    right: -6px;
    border-width: 0 2px 2px 0;
}

.buttonModal2:hover:before,
.buttonModal2:hover:after {
    width: calc(100% + 12px);
    height: calc(100% + 12px);
    border-color: #fff
}

.buttonModal2:hover {
    color: #353535;
    background-color: #fff;
    border-color: #fff
}


/* 4 */

.buttonModal3:before,
.buttonModal3:after {
    content: '';
    display: block;
    position: absolute;
    border-color: #454545;
    box-sizing: border-box;
    border-style: solid;
    width: 1em;
    height: 1em;
    transition: all 0.3s ease-in-out
}

.buttonModal3:before {
    top: -6px;
    left: -6px;
    border-width: 2px 0 0 2px;
    z-index: 5;
}

.buttonModal3:after {
    bottom: -6px;
    right: -6px;
    border-width: 0 2px 2px 0;
}

.buttonModal3:hover:before,
.buttonModal3:hover:after {
    width: calc(100% + 12px);
    height: calc(100% + 12px);
    border-color: #fff
}

.buttonModal3:hover {
    color: #353535;
    background-color: #fff;
    border-color: #fff
}


/* 5 */

.buttonModal4:before,
.buttonModal4:after {
    content: '';
    display: block;
    position: absolute;
    border-color: #454545;
    box-sizing: border-box;
    border-style: solid;
    width: 1em;
    height: 1em;
    transition: all 0.3s ease-in-out
}

.buttonModal4:before {
    top: -6px;
    left: -6px;
    border-width: 2px 0 0 2px;
    z-index: 5;
}

.buttonModal4:after {
    bottom: -6px;
    right: -6px;
    border-width: 0 2px 2px 0;
}

.buttonModal4:hover:before,
.buttonModal4:hover:after {
    width: calc(100% + 12px);
    height: calc(100% + 12px);
    border-color: #fff
}

.buttonModal4:hover {
    color: #353535;
    background-color: #fff;
    border-color: #fff
}

.panel {
    max-width: 960px;
    text-align: center;
    position: relative;
    margin: auto;
}

.tall img {
    padding: 5px;
}
.img-size{
/* 	padding: 0;
	margin: 0; */
	width:300px;
    height:360px;
	overflow: hidden;
}
.img-size img{
    padding: 5px;
    width: 100%;
}

.carousel-control-prev-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
	width: 30px;
	height: 48px;
	z-index:400;
}
.carousel-control-next-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
	width: 30px;
	height: 48px;
	z-index:400;
}
.carousel-control-prev,.carousel-control-next,.close_modal{
    z-index:400;
}
